.led {
  margin-top: 100px;
  width: 10px;
  height: 1000px;
  background: linear-gradient(
    90deg,
    red,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet,
    red
  );
  background-size: 200% 100%;
  animation: colorChange 3s linear infinite;
}

@keyframes colorChange {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
